$backgroundColor: #110A1D;
$mainBlue: #478BF9;
$mainNavyBlue: #110A1D;
$mainCleanWhite: #FFF;
$additionalPurple: #9DADF2;
$mainDeepBlue: #1E1231;
$transpWhite: rgba(255, 255, 255, 0.60);
$hoverSocials: linear-gradient(45deg, #9DADF2, #478BF9);
$backgroundGrad: linear-gradient(rgba(255, 255, 255, 0), #110A1D);
